.adobe
.aliedit
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.dbus
dead.letter
Downloads
.emacs.d
emacs.old
.fbtermrc
.fehbg
.gnupg
.gtkrc-2.0
.icons
.lesshst
.links
.local
.longene
.macromedia
.mozilla
Picture
.pki
.sbt
.scala_history
.spf13-vim-3
.ssh
test
.urxvt
.vifm
.vim
.vimbackup
.viminfo
.vimperator
.vimrc
.vimrc.before
.vimrc.bundles
.vimrc.local
.vimswap
.vimundo
.vimviews
.wallpaper
.Xauthority
.xsel.log
.zcompdump-arch-5.0.2
.zsh_history
/.xmonad/.gitignore
/.xmonad/battery.sh
/.xmonad/conkyrc
/myshell/hosts
/.IntelliJIdea12
/.ivy2
/.java
/.kde4
/.kingsoft
/.lein
/.m2
/.gstreamer-0.10
.java_history
.neocomplcache
.zcompdump-arch-5.0.5
/vpn
/workspace
/VirtualBox VMs